<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div id="failure-data"></div>

<h2>Add New Link</h2>
<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="hidden" id="link-user" value='<%= "#{current_user.id}" %>'>
  <input type="submit" value="Add Link">
</form>

<h2>Filters</h2>
By text: <input type='text' id='search'>
<button type="button" name="filter-unread" id="filter-unread-button">Only Unread</button>
<button type="button" name="filter-read" id="filter-read-button">Only Read</button>
<hr>
<h2>Links</h2>
<div id="links-list"></div>
